.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* GLOBAL */
*{
  box-sizing: border-box;
}
body{
  background: #f1f1f1;
  
}

/* MAIN CSS */
.vglasses__left{
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__left .col-4{
  align-self: center;
}
.vglasses__items{
  cursor: pointer;
}

.vglasses__right{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__model{
  background-position: center top;
  background-size: cover;
  height: 600px;
}

.vglasses__model img{
  position: absolute;
  top: 32%;
  left: 25%;
  width: 238px;
  height: 85px;
  opacity: 0.9;
}

.vglasses__card{
  position: relative;
  overflow: hidden;
  background-color: white;
}

.vglasses__info{
  position: absolute;
  bottom:0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
}
.title,
.price,
.status,
.desc {
font-weight: 500;
}
.title {
width: 100%;
font-size: 15px;
}
.price {
padding-left: 5px;
margin-left: 16px;
width: 30px;
height: 28px;
background-color: red;
border-radius: 4px;
}
.status {
color: lime;
}
.desc {
font-size: 15px;
}


#glasses{
  transition: all 0.5s;
}